<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="utf-8">
		<title>Hedralisk</title>
		<link rel="stylesheet" href="/stylesheets/styles.css"></style>
	</head>
	<body>
		<div class="hero">
			<h1>Hedralisk</h1>
			<h2>Dice Rolling Monster</h2>
		</div>

		<div class="main">
			<div class="roll-result">#{roll}</div>

			<div class="controls">
				<input placeholder="1d20 + 4">
				<button>Roll</button>
			</div>
		</div>

		<footer>
			<a target="_blank" href="https://github.com/lincolnhutchinson/hedralisk-web">Made by Lincoln</a>
		</footer>
	</body>
</html>
